$page-margin: 16px;

.panelList {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  max-width: 100%;
  margin: 0 $page-margin;
  gap: 4px;
}

@media (max-width: 700px) {
  .panelList {
    width: calc(100% - (2 * $page-margin));
  }
}
