.hidden {
  display: none;
}

.fretboardImg {
  --fretboard-string-scale: 1;
  height: clamp(
    calc(180px * var(--fretboard-string-scale)),
    calc(32vmin * var(--fretboard-string-scale)),
    calc(360px * var(--fretboard-string-scale))
  );
}
